<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand" routerLink="/">
      <span class="brand-name">Your car your way</span>
    </div>

    <div class="nav-links" [class.menu-open]="isMenuOpen">
      <a *ngFor="let link of navLinks; let i = index"
         [routerLink]="link.route"
         class="nav-link"
         [class.active]="link.active"
         (click)="setActiveLink(i); closeMenu()"
         routerLinkActive="active"
      >
        <span class="link-text">{{ link.label }}</span>
        <span class="link-indicator"></span>
      </a>
    </div>
  </div>
</nav>
